.lnr-4 {
  color: lightgreen;
  margin-right: 0.3rem;
}
.dFlexTop {
  display: flex;
  align-items: center;
}

.textOrange {
  color: #ff6e00 !important;
}

.bg-dark-main {
  background: #02040e;
}

.custom-css-for-address {
  padding: 0.67rem 2rem;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.p-TP-1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.lnr-1 {
  color: green;
}

.topbar_right-2 {
  padding: 0rem 1rem;
  border-radius: 1rem;
  background: black;
}

@media (max-width: 560px) {
  .btn-custom {
    margin-top: -2rem !important;
  }
}
@media (max-width: 540px) {
  .btn-custom {
    margin-top: -2rem !important;
  }
  .ltr-support .btn:last-child {
    margin-right: 0;
    margin-bottom: -73.5px;
    border-radius: 0rem !important;
  }

  .ltr-support .topbar__right {
    right: 0px;
    margin-right: 15px;
    width: 100%;
  }

  .custom-css-for-address {
    margin-bottom: -4rem !important;
  }
}
@media (max-width: 500px) {
  .btn-custom {
    margin-bottom: -50.5px !important;
  }
  .ltr-support .btn:last-child {
    margin-right: 0;
    margin-bottom: -73.5px;
    border-radius: 0rem !important;
  }

  .custom-css-for-address {
    margin-bottom: -4rem !important;
    margin-right: 6rem !important;
  }
}

@media (max-width: 414px) {
  .btn-custom {
    margin-bottom: -2rem !important;
  }

  .ltr-support .topbar__right {
    right: 0px;
    margin-right: 15px;
    width: 100%;
  }

  .custom-css-for-address {
    margin-bottom: -2rem !important;
    margin-right: 2rem !important;
  }
}

@media (max-width: 411px) {
  .btn-custom {
    margin-bottom: -1.3px !important;
  }

  .ltr-support .topbar__right {
    right: 0px;
    margin-right: 15px;
    width: 100%;
  }

  .custom-css-for-address {
    margin-bottom: -1.79rem !important;
    margin-right: 9rem !important;
  }
}

@media (max-width: 375px) {
  .btn-custom {
    margin-bottom: 0.6rem !important;
  }
  .ltr-support .topbar__right {
    right: 0px;
    margin-right: 0;
    width: 100%;
  }

  .custom-css-for-address {
    margin-bottom: -2rem !important;
  }
}

@media (max-width: 360px) {
  .btn-custom {
    margin-bottom: -6.4rem !important;
  }
  .ltr-support .topbar__right {
    right: 0px;
    margin-right: 0;
    width: 100%;
  }

  .custom-css-for-address {
    margin-bottom: -4.9rem !important;
    margin-right: 8rem !important;
  }
}
@media (max-width: 320px) {
  .custom-css-for-address {
    margin-bottom: -4rem !important;
    margin-right: 7rem !important;
  }
}
